.jobs-red{
    background-color: rgb(236, 103, 103) !important;
    color: #000000 !important;
 }
 
 .jobs-blue{
    background-color: rgb(108, 161, 240) !important;
    color: #000000 !important;
 }

 .jobs-green{
    background-color: rgb(119, 241, 135) !important;
    color: #000000 !important;
 }